html {
    color: red;
    font-family: 'Montserrat';
line-height: 0.8px}

#nav {
    background-color: white;
    text-align: center;
    color: red;
    border: red 1px solid;
    line-height: 1px;
    z-index: 2;
    position: fixed;
    width: 99%;}

#nav a {
    font-size: 20px;
    color: red;
    padding-left: 5px;
    padding-right: 5px;}

p {
    color: black;
    ;
}

.game {
    font-weight: bold;
}

br {
    line-height: 10px;
}

@media only screen and (max-width: 480px) {
    p {
        text-overflow: ellipsis;
    }
}
